# Created by .ignore support plugin (hsz.mobi)
### Terraform template
# Compiled files
*.tfstate
*.tfstate.backup

# Module directory
.terraform/

#own settings
terraform.tfvars

#idea stuf
.idea

**.retry

#tokens
worker_token.txt
manager_token.txt
first_manager_token.txt

debug.txt

